<div class="about">
<h2>About This Site</h2>
This web site is retrieval service that looks for a popular tool in <a href="http://ruby-toolbox.com/" target="_blank"><strong>The Ruby Toolbox</strong></a>. <br/>
<a href="http://ruby-toolbox.com/" target="_blank"><strong>The Ruby Toolbox</strong></a> is a cool and wonderful service.<br/>
However, this website doesn't obtain formal approval.
</div>
<div class="about">
<h2>Update history</h2>
  <ul class="clearfix">
    <li class="list_date">Aug 15, 2010<li>
    <li class="list_version">v1.0<li>
    <li class="list_description"><a href="http://d.hatena.ne.jp/rochefort/20100815/p1" target="_blank">release</a><li>
  </ul>
  <ul class="clearfix">
    <li class="list_date">Dec 25, 2010<li>
    <li class="list_version">v1.1<li>
    <li class="list_description"><a href="http://d.hatena.ne.jp/rochefort/20101225/p1" target="_blank">fixed url and some bugs fix.<li>
  </ul>
</div>
<div class="about">
<h2>Links</h2>
<ul class="clearfix"><li><a href="http://d.hatena.ne.jp/rochefort/" target="_blank">My Blog</a></li></ul>
<ul class="clearfix"><li><a href="http://www.rochefort8.com/contact/" target="_blank">Contact Me</a></li></ul>
</div>
