<div class="about">
<h2>About This Site</h2>
  <div id="about_description">
  Here is a retrieval service that looks for a popular website in <a href="http://ruby-toolbox.com/" target="_blank"><strong>The Ruby Toolbox</strong></a>. <br/>
  <a href="http://ruby-toolbox.com/" target="_blank"><strong>The Ruby Toolbox</strong></a> is a cool website.<br/>
  However, this website doesn't obtain formal approval.
  </div>
</div>
<div class="about">
<h2>Update history</h2>
  <ul class="clearfix">
    <li class="list_date">Sep 19, 2011<li>
    <li class="list_version">v1.2<li>
    <li class="list_description"><a href="http://d.hatena.ne.jp/rochefort/20110918/p1" target="_blank">upgradd Rails 3.1.1, changed domain, and some bug fixes.</a><li>
  </ul>

  <ul class="clearfix">
    <li class="list_date">Dec 25, 2010<li>
    <li class="list_version">v1.1<li>
    <li class="list_description"><a href="http://d.hatena.ne.jp/rochefort/20101225/p1" target="_blank">fixed url and some bugs fix.</a><li>
  </ul>
  <ul class="clearfix">
    <li class="list_date">Aug 15, 2010<li>
    <li class="list_version">v1.0<li>
    <li class="list_description"><a href="http://d.hatena.ne.jp/rochefort/20100815/p1" target="_blank">release</a><li>
  </ul>
</div>
<div class="about">
<h2>Links</h2>
<ul class="clearfix"><li><a href="http://d.hatena.ne.jp/rochefort/" target="_blank">My Blog</a></li></ul>
<ul class="clearfix"><li><a href="http://twitter.com/#!/rochefort8/" target="_blank">Contact Me</a></li></ul>
</div>
