<%= render :partial => 'shared/projects_search' %>
<h2 class="list">Projects List</h2>
<%= render :partial => 'shared/projects_list',:object => @projects %>
<div id=back_button><%= link_to 'Back', :back %></div>