/*
*= require_self
*= require_tree .
*/
@charset "utf-8";
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  padding: 0;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,img {
  border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-weight: normal;
  font-style: normal;
}
ol,ul {
  list-style: none;
}
caption,th {
  text-align: left;
}
h1,h2,h3 {
  font-weight: bold;
  font-size: 100%;
}
h4,h5,h6 {
  font-weight: normal;
  font-size: 100%;
}
q:before,q:after {
  content:'';
}
abbr,acronym { border: 0; }

/* default */
body {
  color: #333;
  background-color: #000;
  font-family: Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", meiryo, Osaka, "ＭＳ Ｐゴシック", sans-serif;
/*  border-left: 25px solid #333;*/
  font-size:   13px;
  line-height: 18px;
  height: auto;
}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

a {
  cursor:pointer;
  color:#333;
  text-decoration:none;
} 
a:link {} 
a:visited {}
a:hover {color:#ea1f00;}
a:active {color:#f9603c;}

h1 {
  font-size: 30px;
  text-shadow: #DDD 2px 2px 2px;
}
h1 a {color: #333;}
h1 a:hover {color: #333;}
h2 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 20px;
}
h3 {
  font-size: 18px;
}
h3.title {
/*  background-color: #DDD;*/
  border: 3px solid #222;
  padding: 2px 2px 2px 5px;
  margin: 2px 5px 15px 5px;
  color: #666;
/*  text-shadow: #DDD 7px 7px 2px;*/
}

/* todo */
h3.list {
  margin: 10px 10px 15px 0;
  color: #333;
}
h3 .subtitle {
  font-size: 10px;
  margin-left: 12px;
}

/* clear */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix { display: inline-table; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

/* rico */
/* 
.rounded {
  -moz-border-radius:3ex;
  -webkit-border-radius:3ex;
}

.rounded1 {
  -moz-border-radius:1ex;
  -webkit-border-radius:1ex;
} */

/* table */
table td.right{ text-align: right;}

/* header */
div#header {
  width: 960px;
  text-align: center;
  overflow: visible;
  margin-bottom: 50px;
  margin-left: 20px;
  color: #666;
}
div#header_title {
  margin-top: 45px;
  float: left;
}
div#header_info {
  float: left;
  margin-top: 55px;
  margin-right: 10px;
  padding-left: 60px;
  font-size: 9px;
  line-height: 1em;
}

div#header_nav {
  float: right;
  margin-top: 53px;
  margin-right: 25px;
}
div#header_nav ul {
  line-height: 1;
  background-color: #d2b298;
}
div#header_nav ul li {
  float: left;
  text-align: center;
  font-size: 13px;
}
div#header_nav ul li a {
  border-left: 1px solid #ccc;
  padding: 5px 15px;
	display: block;
  position: relative; /* for ie6*/
  color: #333;
  font-weight: bold;
}
div#header_nav ul li a:hover {color:#ea1f00;}
div#header_nav ul li a:active {color:#f9603c;}


/* container */
div#container { 
  width: 960px;
  margin-left: 20px;
}

/* search */
div#search { margin-bottom:30px; }
#search #keyword_text {
  border: 1px solid #333;
  width: 300px;
  background-color: #e3e3e3;
}
div#search  input[type="submit"] {
  background-color: #000000;
  color: #666;
  padding: 1px 6px;
  border: 2px outset #666;
  font-family: 'Lucida Grande', verdana, arial, "ＭＳ Ｐゴシック", "平成角ゴシック", sans-serif;
}

/* project_top_list */
div#top_list {}

div.project_top_list {
  display: inline;
  float: left;
  border: 1px solid #333;
  width: 230px;
  margin: 0 8px 30px 0;
	padding: 5px 0 10px 0;
}
div.small { width: 300px; }
div.small table { width: 300px; }

/* todo clearer*/
.rank { 
  margin: 0px 4px 8px 10px;
}

.rank_main {
  font-size: 16px;
}

.rank_main h4 {
  font-weight: bold;
}

.rank_main div.name{
  font-weight: bold;
  width: 150px;
  float: left;
}

.rank_main div.score{
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  padding-right: 3px;
}

.rank_sub {
  font-size: 8px;
}

.rank_sub div.name{
  width: 160px;
  float: left;
}

.rank_sub div.score{
  text-align: right;
}

/* project detail */
div#project_main {
  margin-bottom: 30px;
}
div#project_title{
  float: left;
  width: 200px;
}
div#project_title h2 {
  margin-top: 0;
}

div#project_category {
  margin-top: 7px;
  font-weight: bold;
}

div#project_category a {
  color: #666;
}

div#project_category a:hover {
  color: #ea1f00;
}

div#project_score {
  float: left;
  padding-top: 5px;
  height: 40px;
}
div#project_score_total {
  float: left;
  width: 70px;
  height: 40px;
  line-height: 40px; /* 中央寄せ */
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
}
div#project_score_items {
  float: left;
  width: 100px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid #aaa;
}
div#project_score_items dl dt {
  float: left;
  width: 60px;
}
div#project_score_items dl dd {
  text-align: right;
}

div#project_link {
  float: left;
  padding-top: 5px;
  padding-left: 50px;
}
div#project_link ul li {
  float: left;
  height: 40px;
  line-height: 40px; /* 中央寄せ */
  text-align: center;
  margin-right: 3px;
}

div#project_link a {
  border: 1px solid #333;
  padding: 10px 5px;
  color: #666;
  text-decoration: none;
  width: 40px;
}
div#project_link a:hover {
  border: 1px solid #ea1f00;
  background-color: #000;
  color: #ea1f00;
  text-decoration: none;
}
div#project_link a.toolbox {
  width: 55px;
}

div#project_description {
  margin-bottom: 20px;
}

/* category detail */
div#category_main {}

/* projects_chart */
div.projects_chart{
  /* border: 2px solid #d2b298; */
  width:620px;
  height:350px;
  margin: 0px 10px 30px 0px;
	padding: 5px 10px 10px 10px;
}

/* tag_cloud */
.tag_cloud {
  border: 1px solid #333;
  width: 930px;
  margin-bottom: 20px;
	padding: 10px 10px 20px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.tag_cloud h3 {}

.tag_clud .small {
  width: 400px;
}

.tag_cloud ul {
  line-height: 1.1;
}

.tag_cloud ul li {
  margin: 0;
	padding: 0;
	display: inline;
}

.tag_cloud ul li.level0  a{ font-size: 12px;color: #333; }
.tag_cloud ul li.level1  a{ font-size: 13px;color: #333; }
.tag_cloud ul li.level2  a{ font-size: 14px;color: #333; }
.tag_cloud ul li.level3  a{ font-size: 15px;color: #333; }
.tag_cloud ul li.level4  a{ font-size: 16px;color: #333; }
                                            
.tag_cloud ul li.level5  a{ font-size: 17px;color: #616161; }
.tag_cloud ul li.level6  a{ font-size: 18px;color: #616161; }
.tag_cloud ul li.level7  a{ font-size: 19px;color: #616161; }
.tag_cloud ul li.level8  a{ font-size: 20px;color: #616161; }
                                            
.tag_cloud ul li.level9  a{ font-size: 21px;color: #A0A0A0; }
.tag_cloud ul li.level10 a{ font-size: 22px;color: #A0A0A0; }
.tag_cloud ul li.level11 a{ font-size: 23px;color: #A0A0A0; }
.tag_cloud ul li.level12 a{ font-size: 24px;color: #A0A0A0; }
                                            
.tag_cloud ul li.level13 a{ font-size: 25px;color: #aaa; }
.tag_cloud ul li.level14 a{ font-size: 26px;color: #aaa; }
.tag_cloud ul li.level15 a{ font-size: 27px;color: #aaa; }
.tag_cloud ul li.level16 a{ font-size: 28px;color: #aaa; }
                                            
.tag_cloud ul li.level17 a{ font-size: 29px;color: #ccc; }
.tag_cloud ul li.level18 a{ font-size: 30px;color: #ccc; }
.tag_cloud ul li.level19 a{ font-size: 31px;color: #ccc; }
.tag_cloud ul li.level20 a{ font-size: 32px;color: #ccc; }
                                            
.tag_cloud ul li.level21 a{ font-size: 33px;color: #ddd; }
.tag_cloud ul li.level22 a{ font-size: 34px;color: #ddd; }
.tag_cloud ul li.level23 a{ font-size: 35px;color: #ddd; }
.tag_cloud ul li.level24 a{ font-size: 36px;color: #ddd; }

.tag_cloud ul li a {
  padding: 0 5px;
  text-decoration: none;
  background-color: #111;
  border: 1px solid #444;
  word-wrap: break-word;
  white-space: pre-wrap;

}

.tag_cloud ul li a:hover {
  background-color: #333;
  color: #fff;
}

.tag_cloud span {
  padding: 0px 0px 0px 860px;
}

.tag_cloud span a {
	text-decoration: underline;
  color: #ccc;
  font-size: 15px;
/*  font-weight: bold;*/
}

.tag_cloud span a:hover {
/*  background-color: #333;*/
  color: #ea1f00;
}

/* project_list and categories list*/
.project_list {
  display: inline;
  float: left;
  border: 1px solid #333;
  color: #333;
  width: 450px;
  margin: 0px 10px 20px 0px;
  padding: 5px 10px 10px 10px;
}
.project_list table { width: 450px; }

.project_list th,
div#categories_list th {
  color: #333;
  border-bottom: 1px solid #999;
  padding-left: 2px;
}
.project_list a,
#div#categories_list a{
  color: #333;
}
.project_list a:hover,
div#categories_list a:hover {
  color: #ea1f00;
}
.project_list tr.even a,
div#categories_list tr.even a {
  color: #666;
}
.project_list tr.even a:hover,
div#categories_list tr.even a:hover {
  color: #ea1f00;
}
.project_list th,
div#categories_list th {
  color: #666;
}
.project_list th a,
div#categories_list th a {
  margin-left: 2px;
  color: #666;
}
.project_list th a.active_sort,
div#categories_list th a.active_sort {
  text-decoration: underline;
  color: #999;
}
.project_list th a:hover,
div#categories_list th a:hover {
  color: #eee;
}
.project_list tr.even,
div#categories_list tr.even {
  background-color: #111;
  color: #666;
}
.project_list td,
div#categories_list td {
  padding: 2px 5px;
}


div#categories_list {
  border: 1px solid #333;
  width: 854px;
  margin-bottom: 20px;
  padding: 5px 10px 10px 10px;
}
div#categories_list table { width: 854px; }
div#categories_list th .sub-th {
  font-size: 10px;
}

/* about */
.about { margin: 0px 0px 30px 40px; }
.about dl {
  line-height: 1;
  margin-top: 5px;
}
.about dl dt { 
  float: left;
  border-left: 5px solid #666;
  padding-left: 3px;
  margin-left: 20px;
  margin-right: 20px;
}
.about ul {
  line-height: 1;
  border-left: 5px solid #666;
  padding-left: 3px;
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 5px;
}
.about ul li {
  padding-left: 1px;
  float: left;
}

.about ul li.list_date{ width: 100px; }
.about ul li.list_version{ width: 50px; }
.about ul li.list_description{ width: 450px; }

.about strong{
  font-weight: bold;
}

div#about_description a {
  color: #666;
}

div#about_description a:hover {
  color: #ea1f00;
}


/* back button*/
div#back_button {
  margin-top: 40px;
  width: 38px;
}

div#back_button a {
  border: 1px solid #333;
  padding: 5px;
  color:#333;
  text-decoration:none;
}
div#back_button a:hover {
  border: 1px solid #ea1f00;
/*  background-color: #333;*/
  color: #ea1f00;
  text-decoration: none;
}

/* pagination */
.pagination {
  font-size: 11px;
  margin-top: 20px;
  padding: 3px 0 4px;
  text-align: center;
}
.pagination a,
.pagination span {
  padding: 3px 3px 2px;
}
.pagination .disabled {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  cursor: default;
}
.pagination a {
  color:#333;
  text-decoration:none;
}
.pagination a:hover {
  color: #ea1f00;
  text-decoration:none;
}
.pagination .current {
  border-bottom:2px solid #88261a;
  color:#88261a;
  font-weight:bold;
  padding-left:2px;
  padding-right:2px;
}
.pagination .current a:hover {
  background-color: #333;
  color: #fff;
}
.pagination .prev_page {}
.pagination .next_page {}


/* footer */
div#footer {
  margin-top: 10px;
  position: relative;
  border-top: 1px solid #222222;
  height: 50px;
  width: 980px;
}

div#footer ul {
  position: absolute;
  right: 0px;
  top: 15px;
  list-style: none;
  margin: 0px;
  padding-right: 20px;
}

div#footer ul li {
  display:inline;
  margin:0px;
  padding:0px 0px 0px 30px;
}

div#footer a:hover {
  color: #A00;
}

div#footer strong {
  text-decoration: underline;
  color: #ea1f00;
}

div#footer a {color: #ea1f00;} 
div#footer a:hover {color: #ea1f00;}
